*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-left: 30px;
    padding-top: 50px;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.active{
    border: 1px solid crimson;
}

form{
    margin: 10px 0;
}

button{
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#output{
    width: 700px;
    height: 400px;
    border: 1px solid #111;
}

.drag-drop input[type="file"]{
    display: none;
}

.drag-drop label{
    display: inline-block;
    width: 100%;
    text-align: center;
}
